html{
		background:rgb(24,63,99);color:#FFF;
		} 

.pbox{
	width: 400px;
	height: 400px;
	background: rgb(119,15,34);
	padding: 40px;
	color: white;
	margin: 0 auto;
}

.ppic{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

div
{
    border-radius: 10px;

    }

h1,h2,h3 { font-family:'Montserrat', serif; font-size:2vw; color:#FFF; margin:0; }
h4{line-height:1.5em;font-family: Times new Roman}

#name {
    float:center;
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

#footer
{
    height:40px;
    clear:both;
    position: relative;
    }

.social-class{
    margin: auto;
    font-size: 40px;
}

.social-class a{
    color: white;
}



@media (max-width: 575px) {
  .section-one, .section-two {
    width: 90%;
    font-size: 32px;
  }
}

@media (max-width: 860px) and (min-width: 576px) {
  .section-one {
    width: 30%;
    font-size: 24px;
  }
  .section-two {
    width: 55%;
    background-color: green;
  }
}

